/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@500&display=swap');

// inicio de variables 
$color1: #00151d;
$color2: #00374d;
$color3: #103532;
$color4: #177269;
$color5: #216e67;
$color6: #40e0d0;
$color7: #794605;
$color8: #e48406;
$color9: #f58b01;
$color10: black;
$color11: white;
$gradient1A:rgb(13, 115, 115);
$gradient1B: linear-gradient(180deg, rgba(13, 115, 115, 1) 0%, rgba(9, 77, 77, 0.24681591386554624) 25%, rgba(0, 0, 0, 1) 100%);
$font1: 'Abel', sans-serif;
$font2: 'Rajdhani', sans-serif;
$font3: 'Reem Kufi', sans-serif;
$fontshadow1: 1px 1px 5px black;
$fontshadow2: 1px 1px 5px white;
$fontshadow3: 1px 1px 5px #40e0d0;
$transition0: all 0.3s;
$transition1: all 0.5s;
$transition2: all 1s;
// fin de variables

// inicio de selector universal
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
// fin de selector universal

.col-lg-12,
.col-lg-6 {
    padding-right: 0;
    padding-left: 0;
}

/* navbar inicio */
.navbar {
    background-image: url(./assets/img/banner01B.jpg);
    background-size: cover;
    background-position: center;
    color: $color11;
    text-shadow: $fontshadow1;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0.5rem;
    font-family: $font3;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 1rem solid $color2;
    position: sticky;
    top: 0;
    z-index: 2;

    a::first-letter {
        color: $color6;
        font-size: 3.2rem;
        }
}

.navbar-brand {
    margin-left: 1.5rem;
    color: $color4;
    font-size: 2.5rem;
}

.navbar-brand:hover {
    transform: scale(1.1);
    transition: $transition2;
}

.navbar-brand::after {
    font-size: 1.5rem;
    color: $color8;
    content: " //";
    text-shadow: $fontshadow1;
}

.nav-header {
    text-shadow: $fontshadow3;
    font-family: $font1;
    transition: $transition1;
    color: $color6;
    margin-right: 15px;
    background-color: $color10;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.5rem;
}

.nav-header:hover {
    text-shadow: $fontshadow2;
    transform: scale(1.2);
    transition: $transition1;
    text-decoration: none;
    color: $color11;
    background-color: $color8;
}

.nav-item1 {
    i {
        color: $color11;
        text-shadow: $fontshadow2;
        }

    a {
        color: $color11;
        background-color: $color8;
        }
}
/* navbar fin */

/* jumbotron inicio */
.jumbotron {
    text-shadow: $fontshadow1;
    border-radius: 0;
    margin-bottom: 0;
    font-family: $font1;
    font-size: 1rem;
    border-bottom: 1rem solid $color10;
    padding: 1.5rem;

    h1 {
        font-weight: bold;
        color: $color11;
        text-transform: uppercase;
        }
    
    p {
        font-weight: bold;
        color: $color11;
        text-transform: uppercase;
        font-size: 1.1rem;
        }
}

.jumboinicio {
    background-image: url(./assets/img/jumbotron01.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: $font1;
    h1 {
        background: rgb(13, 115, 115);
        background: linear-gradient(180deg, rgba(13, 115, 115, 1) 0%, rgba(9, 77, 77, 0.24681591386554624) 25%, rgba(0, 0, 0, 1) 100%);
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        border-radius: 2rem;
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding: 7px;
        font-weight: bold;
        }
}

.jumbocarriles {
    background-image: url(./assets/img/iniciofondo02.jpg);
    background-size: cover;
    background-position: center;
    font-family: $font1;
    h1 {
        background: rgb(13, 115, 115);
        background: linear-gradient(180deg, rgba(13, 115, 115, 1) 0%, rgba(9, 77, 77, 0.24681591386554624) 25%, rgba(0, 0, 0, 1) 100%);
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        border-radius: 2rem;
        font-family: $font3;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding: 7px;
        font-weight: bold;
        }
}

.btn-info {
    background-color: $color2;
    font-family: $font2;
    border: 0.2rem solid $color1;
    text-transform: uppercase;
    border-radius: 1rem;
    font-weight: bold;
    transition: $transition1;
}
.btncard {
    background-color: $color2;
    font-family: $font2;
    border: 0.2rem solid $color1;
    text-transform: uppercase;
    border-radius: 1rem;
    font-weight: bold;
    transition: $transition1;
    width: 100%;
}

.btn:hover {
    background-color: $color8;
    border: 0.2rem solid $color7;
    color: $color11;
    transition: $transition1;
}

.btn a {
    color: $color11;
    text-decoration: none;
}



h1::first-letter {
    color: $color6;
    font-size: 2.5rem;
}

h2::first-letter {
    color: $color6;
    font-size: 2.5rem;
}

h5::first-letter {
    color: $color6;
    font-size: 2.5rem;
}

/* jumbotron fin */

/* section intro01 inicio */

.intro01 {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    h2 {
        margin-top: 0.5rem;
    }
    p {
        font-weight: bold;
        font-family: $font1;
    }
}

.intro02,
.intro03 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-shadow: $fontshadow1;
}

.intro04 {
    h2 {
        margin-top: 0.5rem;
    }
    p {
        font-weight: bold;
        font-family: $font1;
    }
}

h1::selection,
h2::selection,
p::selection {
    background-color: $color1;
    color: $color6;
}
/* section intro01 fin */

/* cardcampeones inicio */
.card {
    background: rgb(13, 115, 115);
    background: linear-gradient(180deg, rgba(13, 115, 115, 1) 0%, rgba(9, 77, 77, 0.24681591386554624) 25%, rgba(0, 0, 0, 1) 100%);
    margin: 1rem;
    font-family: $font2;
    border: 3px solid $color1;
}

.cardcampeones {
    background-image: url(./assets/img/formacionesfondo00.jpg);
    background-size: cover;
    padding: 20px;
}

.card01 {
    margin: 10px;
    border: 5px solid $color1;
}

.card-body {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    background: $gradient1A;
    background: $gradient1B;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    
    h5 {
        text-transform: capitalize;
        color: $color11;
        text-shadow: $fontshadow3;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }
    p {
        color: $color11;
        text-shadow: $fontshadow2;
        text-align: center;    
    }
}

.cardenfasis {
    text-transform: uppercase;
    font-weight: bold;
    color: $color8;
    text-shadow: 1px 1px 5px $color8;
}

/* cardcampeones fin */

/* inicio inicio */
.contenido01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(./assets/img/submenuintro02.jpg);
    color: $color11;
    text-shadow: $fontshadow1;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
    border-bottom: 1rem solid $color10;
}

.contenido02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(./assets/img/submenuintro02.jpg);
    color: $color11;
    text-shadow: $fontshadow1;
    text-align: right;
    font-size: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
    border-bottom: 1rem solid $color10;

    p {
        margin: 1rem;
        text-align: center;
    }
}

.contenido01section,
.contenido02section {
    justify-content: center;
}

.subtitulo01,
.subtitulo02 {
    font-family: $font2;
    text-align: center;
    font-weight: bold;
    background: $gradient1A;
    background: $gradient1B;
    border-radius: 2rem;
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding: 7px;
}

.introVideo01,
.introVideo02,
.introVideo03 {
    border: 0.5rem solid $color2;
    border-radius: 0.5rem;
}

/* fin inicio */

/* inicio comic */
.jumbocomics {
    background-image: url(./assets/img/back06.jpg);
    background-size: cover;
    background-position: center;
    font-family: $font1;
    h1 {
        background: $gradient1A;
        background: $gradient1B;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 1rem;
        text-align: center;
        border-radius: 2rem;
        font-family: $font3;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding: 7px;
        font-weight: bold;
        }

    p {
        margin: 0;
        text-align: center;
        }    
}

.carousel {
    background-image: url(./assets/img/back01.png);
    background-size: cover;
    border-bottom: 1rem solid $color10;
    padding: 1rem;

    h3 {
        padding-top: 10px;
        font-size: 1.5rem;
        font-family: $font3;
        color: $color11;
        text-align: center;
    }
}

.carousel-indicators {
    z-index: 1;

    li {
        width: 20px;
        height: 10px;
        background-color: $color6;
        transition: $transition0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        }

    li:hover {
        background-color: $color4;
        transform: scale(1.2);
        transition: $transition0;
    }

    li:active {
        background-color: $color8;
        transition: $transition0;
    }
    }

.carousel-inner {
    width: 75%;
    margin: auto;
}

.subtitulocomic {
    background: $gradient1A;
    background: $gradient1B;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 2rem;
    text-transform: uppercase;
        span {
            color: $color6;
        }
}

.comics {
    background-image: url(./assets/img/comicsfondo00.jpg);
    background-size: cover;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 10rem);
    padding: 2rem;
    grid-gap: 1rem;
    justify-items: center;

    a {
        font-family: $font1;
        text-transform: uppercase;
        font-weight: bolder;
        color: $color6;
        align-self: center;
        font-size: 1rem;
        text-shadow: 0 0 1.1rem $color10;
        background-color: #000000a8;
        padding: 0.1rem;
        width: 180%;
        height: auto;
        margin-bottom: 7rem;
        margin-left: 0.5rem;
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
        text-decoration: none;
        background: $gradient1A;
        background: $gradient1B;
    }
}

.tomo1 {
    background-image: url(./assets/img/iniciocomic01.png);
}

.tomo2 {
    background-image: url(./assets/img/iniciocomic02.png);
}

.tomo3 {
    background-image: url(./assets/img/iniciocomic03.png);
}

.tomo4 {
    background-image: url(./assets/img/iniciocomic04.png);
}

.tomo5 {
    background-image: url(./assets/img/iniciocomic05.png);
}

.tomo6 {
    background-image: url(./assets/img/iniciocomic06.png);
}

.tomo7 {
    background-image: url(./assets/img/portadas01.jfif);
}

.tomo8 {
    background-image: url(./assets/img/portadas02.jfif);
}

.tomo9 {
    background-image: url(./assets/img/portadas03.jfif);
}

.tomo10 {
    background-image: url(./assets/img/portadas04.jfif);
}

.tomo11 {
    background-image: url(./assets/img/portadas05.jfif);
}

.tomo12 {
    background-image: url(./assets/img/portada06.jpg);
}

.tomo1,
.tomo2,
.tomo3,
.tomo4,
.tomo5,
.tomo6,
.tomo7,
.tomo8,
.tomo9,
.tomo10,
.tomo11,
.tomo12 {
    background-position: bottom;
    background-size: cover;
    border-radius: 2rem;
    border: 0.3rem solid $color3;
    filter: sepia(100%);
    transition: all 0.7s;
    width: 80%;
}

.tomo1:hover,
.tomo2:hover,
.tomo3:hover,
.tomo4:hover,
.tomo5:hover,
.tomo6:hover,
.tomo7:hover,
.tomo8:hover,
.tomo9:hover,
.tomo10:hover,
.tomo11:hover,
.tomo12:hover {
    filter: sepia(0%);
    transform: scale(1.05);
    transition: all 0.7s;
}
/* fin comic */

// inicio contacto 
.box01 {
    background-image: url(./assets/img/formacionesfondo00.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 100%;
    height: auto;
    margin-left: 0;
    justify-content: center;
    word-spacing: 3px;

    .valid-feedback {
        color: greenyellow;
        font-size: 1rem;
        font-weight: bold;
        font-family: $font2;
        text-shadow: $fontshadow1;
    }

    .invalid-feedback {
        color: red;
        font-size: 1rem;
        font-weight: bold;
        font-family: $font2;
        text-shadow: $fontshadow1;

    }

    .formbtn {
    background-color: $color2;
    font-family: $font2;
    border: 0.2rem solid $color1;
    text-transform: uppercase;
    border-radius: 1rem;
    font-weight: bold;
    transition: $transition1;
    }
    .formbtn:hover {
        background-color: $color8;
        border: 0.2rem solid $color7;
        color: $color11;
        transition: $transition1;
    }

    label {
        color: $color6;
        text-shadow: $fontshadow1;
        font-family: $font3;
        font-size: 1.2rem;
    }
    .form-check {
        margin-top: 1rem;
    }
}

.commentbox {
    label {
        margin-top: 10px;
        word-spacing: 5px;
    }
}



// fin contacto

/* inicia boton subir */
.subir {
    height: 3.1rem;
    width: 3.1rem;
    background-color: $color10;
    text-align: center;
    line-height: 2.5rem;
    border: 0.3rem solid $color6;
    border-radius: 50%;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    font-size: 2rem;
    color: $color6;
    transition: $transition2;
}

.subir:hover {
    background-color: $color6;
    color: $color10;
    border: 5px solid $color5;
    transition: $transition2;
}

.subir:active {
    background-color: rgb(3, 22, 41);
    color: $color9;
    border: 5px solid $color9;
    transition: $transition2;
}

/* fin boton subir */

/* footer inicia */
footer {
    text-align: center;
    font-size: 1rem;
    font-family: $font1;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url(./assets/img/back07.jpg);
    background-size: cover;
    background-position: bottom;
    color: $color11;
    text-shadow: $fontshadow3;
    padding: 0.5rem;

    p {
        margin-bottom: 0;
    }

    .redes i {
        font-size: 1.2rem;
        color: $color11;
        letter-spacing: 0.6rem;
        margin-top: 0.5rem;
    }

    .redes i:hover {
        color: $color6;
        transform: scale(1.5);
        transition: $transition1;
    }
    .footw {
        color: $color6;
    }
    .footsubtitulo {
        font-size: 1rem;
    }
    .foottexto {
        font-size: 1rem;
        text-transform: none;
    }
}

/* footer fin */

// inicio media queries
@media only screen and (max-width: 403px) {

    .jumbotron {
        height: auto;
    }
}

@media only screen and (max-width: 499px) {

    .intro02,
    .intro03 {
        width: auto;
        height: auto;
    }

    .carousel-indicators {

        li {
            width: 10px;
            height: 5px;
            background-color: $color6;
            transition: $transition0;
        }

        li:hover {
            background-color: $color4;
            transform: scale(1.2);
            transition: $transition0;
        }

        li:active {
            background-color: $color8;
            transition: $transition0;
        }
    }

    .carousel-inner {
        width: 95%;
        // margin: auto;
    }
    }


@media only screen and (min-width:360px) {

    .comics {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 12.5rem);
        transition: $transition2;
        
        a {
            font-family: $font1;
            font-size: 2rem;
            padding: 0.1rem;
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {


    .intro02,
    .intro03 {
        width: 500px;
        height: 300px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 991px) {

    .intro02,
    .intro03 {
        width: 700px;
        height: 300px;
    }

    .comics {

        a {
        font-size: 2rem;
        transition: $transition2;
    }
}
}

/* vista desktop */
@media only screen and (min-width: 992px) {    
    
    .jumbotron {
        text-align: center;
    }

    .intro02, .intro03 {
        width: 100%;
        height: 400px;
        align-self: center;
    }

    .intro01,
    .intro04 {
        align-self: center;
    }

    .navbarBarra {
        justify-content: end;
    }

    .comics {
        a {
        font-size: 2rem;
        transition: $transition2;
    }
    }
}

/* vista desktop */
@media only screen and (min-width: 1024px) {
    .jumbotron {
        text-align: center;
    }

    .carousel-indicators {
        li {
        width: 30px;
        height: 15px;
        background-color: $color6;
        transition: $transition0;
    }

        li:hover {
        background-color: $color4;
        transform: scale(1.2);
        transition: $transition0;
    }

        li:active {
        background-color: $color8;
        transition: $transition0;
    }
    }


    .comics {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 20rem);
        transition: $transition2;

        a {
            font-size: 3rem;
            transition: $transition2;
        }
    }
}

@media only screen and (min-width: 1600px) {

    .intro02,
    .intro03 {
        width: 100%;
        height: 600px;
    }
}

// fin media queries
